<div class="row">
    <div class="col-md-12">
        <form>
            <div class="logout d-flex justify-content-end">
                <p class="mx-2 my-4">{{currentUser}}</p>
                <button type="button" class="btn btn-danger" (click)="logout()"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/logout-2030711-1713351.png" width="25">Logout</button>
            </div>
        </form>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="this.todoService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <input type="hidden" formControlName="user" value="currentUser">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" formControlName="title"
                    [ngClass]="{'is-invalid':submitted && formControls.title.errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls.title.errors">This Field Is Required
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" class="form-control" formControlName="description"
                    [ngClass]="{'is-invalid':submitted && formControls.description.errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls.description.errors">This Field Is
                    Required</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>

        </form>
        <div class="alert alert-info" *ngIf="showSuccessMessage">
            Submitted successfully
        </div>
    </div>
    <div class="row">
    <div class="col-md-12 mt-4">
        <app-todo-list></app-todo-list>
    </div>
</div>
</div>